.project-box{
    display: flex;
    animation: display 3s ease 0s 1 forwards;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #161A30;
    color: white;
    flex-direction: column;
}
.project-heading{
    margin-top: 50px;
}

@media screen and (max-width:1000px){
    .project-heading{
        font-size: 30px;
    }
}

@keyframes display {
    0% {opacity: 0;}
    100%{opacity: 1;}
}