
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');


.skill-card{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    flex-direction: column;
    background-color: #F6F4EB;
    border-radius: 25%;
}

.skill-card:hover{
    background-color: #FFF2D8;
}

.head{
    height:50px;
    width: 50px;
    object-fit: cover;
    display: flex;
    padding: 5px;
    margin-right: 10px;
}
.head:hover{
    height: 60px;
    width: 60px;
    object-fit: cover;
    transition: all 0s ease 0s;
}

.skill-name{
    font-family: 'Source Code Pro', monospace;
}
