
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');


.skill-card{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 90px;
    flex-direction: column;
    background-color: #F6F4EB;
    border-radius: 5%;
    animation: slide-Y 2s ease 0s 1 forwards;
    position: relative;
}

.skill-card:hover{
    background-color: #FFF2D8;
}

.head{
    height:50px;
    width: 50px;
    object-fit: cover;
    display: flex;
    padding: 6px;
    margin: 10px 10px 0px 10px;
}
.head:hover{
    object-fit: cover;
    transition: all 0s ease 0s;
}

.skill-name{
    font-family: 'Source Code Pro', monospace;
}

@media screen and (max-width:500px) {
  .skill-card{
    margin: 5px;
  }
}

@keyframes slide-Y {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 0px;
    }
}