.contact-logo{
    height: 30px;
    width: 30px;
    margin: 20px;
    object-fit: cover;
    cursor: pointer;
}
.contact-logo:hover{
    height: 33px;
    width: 33px;
}
@media screen and (max-width:1000px){
    .contact-logo{
        height: 25px;
        width: 25px;
    }
}