@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-heading{
    font-weight: bolder;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: black;
}
.about-skill{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;;
    width: 70%;
}
.about-content{
    text-align: justify;
    font-family: "Nunito";
    font-weight: 700;
    animation: slide-Y 2s ease 0s 1 forwards;
    position: relative;
}
.abt{
    width: 100%;
    margin-right: 120px;
    text-align: left;
    padding: 0px 50px 50px 50px;
    color: black;
}
.skll{
    width: 100%;
    margin-right: 120px;
    text-align: left;
    padding: 0px 50px 50px 50px;
    color: black;
}

.main-container{
    animation: display 3s ease 0s 1 forwards;
    background-color: white;
    background-image: url('https://media.istockphoto.com/id/1370858067/vector/neutral-abstract-background-minimal-poster-template-with-diagonal-shapes-calm-design-with.jpg?s=612x612&w=0&k=20&c=18U2vCQ0oVYOi0uBiGUEGWaUWf4dgHKCURaJvRssIGI=');
    background-size: cover;
    color: back;
    padding: 20px;
    padding-top: 100px;
}
.skill-part{
    display: flex;
}

@media screen and (max-width:1000px){
    .main-container{
        flex-direction: column;
        height: 1000px;
        align-items: center;
        justify-content: center;
    }
    .about-heading{
        font-size: 35px;
    }
    .about-skill{
        flex-direction: column;
        height: 500px;
        width: 100%;
        padding: 0px;
        margin: 0px;
        
    }
    .abt{
        width: 100%;
        margin-top: 300px;
    }
    .skll{
        width: 100%;
        margin: 0px;
        align-items: center;
        justify-content: center;
    }
    .skill-part{
        flex-direction: column;
    }
}

@media screen and (max-width:500px) {
    .about-heading {
            font-size: 25px; }
    .abt{
        padding: 20px;
    }
    .skll {
        padding: 20px;
    }
    .main-container{
        padding-top: 50px;
        height: 800px;
    }
    .about-container{
        height: 390px;
    }
}
@keyframes display {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slide-Y {
    0% { bottom: -100px;}
    100% { bottom: 0px; }
}