.logo{
    object-fit: cover;
    height: 30px;
    width: 30px;
    background-color: white;
    padding: 1px;
    margin: 10px;
    border-radius: 100%;
  }

  .logo-name{
    display: flex;
    align-items:center;
  }
  .kareena-bhade{
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px 40px;
    position: sticky;
    top: 0;
    z-index: 3;
    color: white;
    background-color: black;
    animation: display 2s ease 0s 1 forwards ;
    
  }

  .nav-components{
      font-size: 18px;
      font-weight: bolder;
      margin: 0px 15px;
      cursor: pointer;
      color: white;
      position: relative;
      transition: all 0.3s ease-out;
  }

.nav-components:hover{
    text-decoration-line:none;
    color: #0174BE;
    padding: 0 3px 3px 3px;
    border-bottom: 4px solid #0174BE;
    border-radius: 5px;
}


ul{
  display: flex;
  list-style: none;
  margin-top: 20px;
}

@media screen and (max-width:700px){

  .nav-components{
    display: none;
  }
}

@keyframes display {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes slide-Y {
  0%{top:-100px;}
  100%{top:0px;}
}